<div class="card">
  <div class="card-header">
    <h1 class="">Stumble Beginnings...</h1>
  </div>
  <div class="card-body">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error minima provident eveniet nihil quas explicabo labore. Nisi earum possimus commodi iusto voluptates fuga magnam aut facere blanditiis ratione? Rem, laboriosam.</p>
    <p>If that seems like Greek to you...</p>
    <p>Well, buddy, that's Latin. We would know, we're actual doctors.</p>
    <p>Doctors Juno Tempest and Xerxes Verdammt, to be exact. During our monthly open mic, by and for trans artists, the doctors provide our loyal and growing audience spilling in to drink away their sorrows and read poetry after falling off the Trans Tipping Point™.</p>
    <p>Yes, the road to recovery is long and arduous, but our dysfunctional second family will make you feel right at home.</p>
    <p>You'll laugh. You'll cry. And our favorite bartender Daniel will listen to your woes, even if we won't.</p>
    <p></p>

  </div>
</div>